@import '../../../node_modules/bootstrap/scss/bootstrap.scss';


.covalence-blue {
    color: #0091ea;
}
.h-nav{
    
    padding: 6px;
}

.nav-link{
    text-decoration: none;
    color:white;
}
.nav-link:hover{
    color:gray;
}
#chirpInput{
    height:auto;
    width:350px;
    resize:none;
    border: 2px solid #0091ea
}

.add-chirp-container{
    height:200px;
    width:450px;
}
